/****  the output in variables a, b & result ****/


/* .two{
    width: 300px;
    border: 1px solid #000;
    background-color:aqua;
    color: #000;
    margin: 0px 29px 0px 0px;
    line-height: 39px;
    padding: 0px 35px 0px 30px;
} */